:root {
  /* FFFFFF */
  --white: invert(100%) sepia(0%) saturate(0%) hue-rotate(258deg) brightness(110%) contrast(100%);
  /* 2CA45C */
  --green: invert(53%) sepia(38%) saturate(690%) hue-rotate(91deg) brightness(90%) contrast(99%);
  /* CACBCE */
  --grey-very-light: invert(83%) sepia(3%) saturate(181%) hue-rotate(187deg) brightness(95%) contrast(102%);
  /* B5BAC1 */
  --grey-light: invert(80%) sepia(9%) saturate(180%) hue-rotate(175deg) brightness(93%) contrast(88%);
  /* 949BA3 */
  --grey-dark: invert(66%) sepia(11%) saturate(268%) hue-rotate(174deg) brightness(93%) contrast(84%);
  /* 1DA9F8 */
  --blue: Invert(47%) sepia(75%) saturate(880%) hue-rotate(171deg) brightness(101%) contrast(95%);
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 72px 240px 1fr;
  min-height: 100vh;
  font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #DBDEE1;
}

.img-white {
  filter: var(--white);
}

.img-green {
  filter: var(--green);
}

.img-grey-very-light {
  filter: var(--grey-very-light);
}

.img-grey-light {
  filter: var(--grey-light);
}

.img-grey-dark {
  filter: var(--grey-dark);
}

.img-blue {
  filter: var(--blue);
}

/* #DBDEE1 */
.img-discord {
  filter: invert(93%) sepia(10%) saturate(73%) hue-rotate(169deg) brightness(99%) contrast(84%);
}

hr {
  color: #27282C;
}

.icon-channel-hash {
  height: 1.3em;
  vertical-align: bottom;
}

#nav-server {
  display: flex;
  justify-content: center;
  background-color: #1E1F22;

  .server {
    display: flex;
    align-items: center;
    width: 72px;
    list-style-type: none;
  }

  .server-active {
    height: 36px;
    margin-top: 10px;
    border: 2px solid #F2F3F5;
    border-radius: 0px 5px 5px 0px;
  }

  .server-inactive {
    height: 36px;
    border: 2px solid #1E1F22;
  }

  .icon-server {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    margin: 10px 8px 0px 8px;
    background-color: #313338;
    border-radius: 50%;
    cursor: pointer;
  }

  .icon-server-blue-active {
    background-color: #596AEE;
    border-radius: 30%;
  }

  .icon-server-blue-inactive:hover {
    background-color: #596AEE;
    border-radius: 30%;
  }

  .icon-server-green-inactive:hover {
    background-color: #2CA45C;
    border-radius: 30%;

    &>img {
      filter: var(--white);
    }
  }

  .server:hover>.server-inactive {
    height: 18px;
    margin-top: 10px;
    border: 2px solid #F2F3F5;
    border-radius: 0px 5px 5px 0px;
  }

  hr {
    width: 30px;
    height: 1px;
    margin: 8px 0px 0px 19px;
    color: #35363c;
    background-color: #35363c;
  }
}

#nav-channel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #2B2D31;

  #server-title {
    display: flex;
    align-items: center;
    width: 225px;
    padding-left: 15px;
    height: 48px;
    cursor: pointer;

    &:hover {
      background-color: #35373c;
    }
  }

  .icon-server-setting {
    margin-left: 100px;
  }

  .icon-channel-arrow {
    height: 1em;
  }

  .icon-channel-plus {
    height: 1.5em;

    &:hover {
      filter: var(--white);
    }
  }

  .icon-channel-setting {
    height: 1em;
    vertical-align: bottom;

    &:hover {
      filter: var(--white);
    }
  }

  .channel-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 33px;
    margin: 10px 18px 0px 0px;
    font-size: 12px;
    color: #949BA3;
    list-style-type: none;

    &:hover {
      color: #FFFFFF;
      cursor: pointer;
    }
  }

  .channel {
    display: flex;
    align-items: center;
    height: 30px;
    margin: 2px 10px;
    padding: 0px 5px;
    font-size: 15px;
    color: #949BA3;
    list-style-type: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .channel-active {
    justify-content: space-between;
    color: #FFFFFF;
    background-color: #3F4248;
  }

  .channel-inactive:hover {
    justify-content: space-between;
    color: #FFFFFF;
    background-color: #35383d;

    &>.icon-channel-setting-inactive {
      display: inline;
    }
  }

  .icon-channel-setting-inactive {
    display: none;
  }

  #channel-user {
    display: flex;
    align-items: center;
    height: 52px;
    padding: 0px 5px;
    background-color: #232428;
    cursor: pointer;

    &:hover {
      background-color: #3F4248;
    }
  }

  #user-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #F8A531;
    border-radius: 50%;

    .img-discord {
      height: 1em;
    }
  }

  #user {
    display: flex;
    flex-direction: column;
    margin: 0px 5px;

    .username {
      font-size: 15px;
    }

    .userid {
      font-size: 12px;
      font-weight: lighter;
    }
  }

  #user-action {
    display: flex;
    align-items: center;

    .icon-user {
      height: 1.3em;
      padding-left: 12px;
    }
  }
}

#chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #313338;

  #chat-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 15px;
    height: 48px;
  }

  .channel-title {
    user-select: none;
  }

  .icon-chat {
    padding-left: 12px;
    cursor: pointer;

    &:hover {
      filter: var(--white);
    }
  }

  .form-search {
    position: relative;
  }

  .input-search {
    width: 130px;
    height: 20px;
    margin-left: 10px;
    padding: 2px 5px;
    vertical-align: top;
    color: #FFFFFF;
    background-color: #1E1F22;
    border: none;

    &:focus {
      width: 225px;
      outline: none;
    }
  }

  .icon-search {
    position: absolute;
    top: -5px;
    right: 10px;
    height: 1em;
  }

  #chat-message {
    margin: 15px;
    user-select: none;
  }

  .chat-hash {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
    background-color: #41434a;
    border-radius: 50%;
  }

  .icon-chat-hash {
    height: 45px;
  }

  #chat-channel-intro {
    margin: 15px 0px;
    font-weight: lighter;
  }

  #chat-channel-edit {
    margin-left: 10px;
    color: #1DA9F8;
    cursor: pointer;
  }

  .form-chat {
    position: relative;
  }

  .icon-chat-add {
    position: absolute;
    top: 35px;
    left: 30px;
    cursor: pointer;

    &:hover {
      filter: var(--white);
    }
  }

  .icon-chat-settings {
    position: absolute;
    top: 35px;
    right: 30px;
  }

  .icon-chat-emote {
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-left: 10px;
    filter: grayscale(100%);
    background: url(./icons/emoji-sprite.png);
    background-repeat: no-repeat;
    background-size: 242px 110px;
    cursor: pointer;

    &:hover {
      filter: grayscale(0%);
    }
  }

  .input-chat {
    width: 91%;
    height: 40px;
    margin: 25px 15px;
    padding: 2px 60px 2px 55px;
    vertical-align: top;
    color: #949BA3;
    background-color: #383A40;
    border: none;
    border-radius: 5px;

    &:focus {
      outline: none;
    }
  }
}