* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 72px 240px 1fr;
  min-height: 100vh;
  font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #DBDEE1;
}


/* 2CA45C */
.img-green {
  filter: invert(53%) sepia(38%) saturate(690%) hue-rotate(91deg) brightness(90%) contrast(99%);
}

/* CACBCE */
.img-grey-light {
  filter: invert(83%) sepia(3%) saturate(181%) hue-rotate(187deg) brightness(95%) contrast(102%);
}

/* 949BA3 */
.img-grey-dark {
  filter: invert(66%) sepia(11%) saturate(268%) hue-rotate(174deg) brightness(93%) contrast(84%);
}

/* #DBDEE1 */
.img-discord {
  filter: invert(93%) sepia(10%) saturate(73%) hue-rotate(169deg) brightness(99%) contrast(84%);
}

#nav-server {
  display: flex;
  justify-content: center;
  background-color: #1E1F22;

  .server {
    display: flex;
    align-items: center;
    width: 72px;
    list-style-type: none;
  }

  .server-active {
    height: 36px;
    margin-top: 10px;
    border: 2px solid #F2F3F5;
    border-radius: 0px 5px 5px 0px;
  }

  .server-inactive {
    height: 36px;
    border: 2px solid #1E1F22;
  }

  .icon-server {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    margin: 10px 8px 0px 8px;
    background-color: #313338;
    border-radius: 50%;
  }

  .icon-server-active {
    background-color: #596AEE;
    border-radius: 30%;
  }

  hr {
    width: 30px;
    height: 1px;
    margin: 8px 0px 0px 19px;
    color: #35363c;
    background-color: #35363c;
  }
}

#nav-channel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #2B2D31;

  #server-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 15px;
    height: 48px;
  }

  .icon-channel-arrow {
    height: 1em;
  }

  .icon-channel-plus {
    height: 1.5em;
  }

  .icon-channel-setting {
    height: 1em;
    vertical-align: bottom;
  }

  .icon-channel-hash {
    height: 1.3em;
    vertical-align: bottom;
  }

  .channel-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 33px;
    margin-top: 10px;
    margin-right: 18px;
    font-size: 12px;
    color: #949BA3;
    list-style-type: none;
  }

  .channel {
    display: flex;
    align-items: center;
    height: 30px;
    margin: 0px 10px;
    padding: 0px 5px;
    font-size: 15px;
    color: #949BA3;
    list-style-type: none;
    border-radius: 5px;
  }

  .channel-active {
    justify-content: space-between;
    color: #FFFFFF;
    background-color: #3F4248;
  }

  hr {
    color: #27282C;
  }

  #channel-user {
    display: flex;
    align-items: center;
    height: 52px;
    padding: 0px 5px;
    background-color: #232428;
  }

  #user-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #F8A531;
    border-radius: 50%;

    .img-discord {
      height: 1em;
    }
  }

  #user {
    display: flex;
    flex-direction: column;
    margin: 0px 5px;

    .username {
      font-size: 15px;
    }

    .userid {
      font-size: 12px;
      font-weight: lighter;
    }
  }

  #user-action {
    display: flex;
    align-items: center;

    .icon-user {
      height: 1.3em;
      padding-left: 12px;
    }
  }
}

#chat {
  background-color: #313338;
}